# Conhecendo os nossos dados e o Pandas

Importando a biblioteca Pandas e carregando a base de dados de avaliações.

In [6]:
import pandas as pd
notas = pd.read_csv("1. Dados/ratings.csv") # É do tipo Dataframe

Exibindo as primeiras notas

In [7]:
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Visualizando detalhes do dataset

In [9]:
notas.shape

(100836, 4)

Alterar o nome das colunas

In [10]:
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]

In [11]:
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

Visualizando todos os valores de uma coluna

In [12]:
notas["nota"] # É do tipo Serie

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

Visualizando os valores únicos entre os dados de uma coluna.

In [13]:
notas["nota"].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

Contar quantas vezes apareceu cada uma das notas

In [15]:
notas["nota"].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

Calculando a média

In [16]:
notas["nota"].mean()

3.501556983616962

#